.contato {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato__title {
  margin-bottom: 1rem;
}

.contato__text {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.contato__botao {
  margin: 1rem 0 auto;
  border-color: #4f4c4c;
  font-family: var(--opensans);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #4f4c4c;
}

@media screen and (min-width: 768px){

  .contato__botao{
    max-width: 350px;
  }
}