.institucional {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666666;
  text-align: center;

  padding-top: 2rem;
  padding-bottom: 2rem;
}
.institucional__texto {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: var(--opensans);
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}

.institucional__address {
  font-family: var(--opensans);
  font-size: 23px;
  font-weight: 400;
  line-height: 31px;
}
.institucional__contato {
  font-size: 19px;
}
.institucional__contato-telefone {
  font-family: var(--opensans);

  font-weight: 400;
  line-height: 26px;
}
.institucional__contato-email {
  color: #0084ff;
  font-family: var(--opensans);

  font-weight: 400;
  line-height: 35px;
}

.institucional__video {
  margin-top: 2.5rem;
  width: 100vw;
}


@media screen and (min-width: 768px) {
    .institucional__video{
        max-width: 100%;
    }
    
}

@media (min-width: 1024px) {
    .Rogue{
        display: flex;
        flex-direction: flex;
       gap: 20rem;
        justify-content: space-between;
        
    }
    .institucional__video{
        
        max-width: 375px;
    }
    
}